
  <table class="table">
    <tbody>
      <tr><%= image_tag user.get_profile_image( 90,90), class: "rounded-circle"%></tr>

      <tr>
        <th>名前</th>
        <th><%= user.name %></th>
      </tr>

      <tr>
        <th>自己紹介</th>
        <th><%= user.introduction %></th>
      </tr>

      <tr>
        <th>フォロー</th>
        <td>
          <%= link_to user_follows_path(user) do %>
            <h6><%= user.followers.count %></h6>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>フォロワー</th>
        <td>
          <%= link_to user_followers_path(user) do %>
            <h6><%= user.followeds.count %></h6>
          <% end %>
        </td>
      </tr>
      <tr>
      <td>
      <% if current_user != user %>
          <% if current_user.following?(user) %>
            <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "フォロー", user_relationships_path(user.id), method: :post, class:"btn btn-success" %>
          <% end %>
        <% end %>
      </td>

    </tbody>
  </table>
  <div class="row">
    <%= link_to edit_user_path(user.id),class:"btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  </div>

  <h2 class="mt-3">新規投稿</h2>
    <%= form_with model: book do |f| %>

    <div class="form-group">
      <label for="book_title">タイトル</label>
      <%= f.text_field :title, class:"form-control", placeholder: 'タイトルを入力' %>
    </div>

    <div class="form-group">
      <label for="book_opinion">本文</label>
      <%= f.text_area :body, class:"form-control", placeholder: '本文を入力' %>
    </div>

    <div class="form-group">
    <%= f.submit 'Create Book', class:"btn btn-success" %>
    </div>
    <% end %>






