<div>
  <p><%= flash[:notice] %></p>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render'book',{ user: @book.user, book: @book_new,} %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user.id) do %>
              <%= image_tag @book.user.get_profile_image(70,70), class: "rounded-circle" %>
              <br><%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book) %>
            </td>
            <td>
              <%= @book.body %>
            </td>

            <% if @book.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book.id), class:'btn btn-sm btn-success'%>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book.id), method: :delete, "date-confirm" => "本当に消しますか？", class:'btn btn-sm btn-danger' %>
              </td>
            <% end %>
            
             <td>
              <div id="favorite_btn_<%= @book.id %>">
                <%= render partial: 'favorites/favorite',locals: {book: @book} %>
              </div>
             </td>
             
              <td>
                コメント数:<%= @book.book_comments.count %>
              </td>
          </tr>
        </tbody>
      </table>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ユーザー</th>
            <th scope="col">コメント</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-grope-divider">
          <% @book.book_comments.each do |book_comment| %>
          <tr>
            <th scope="row"></th>
            <td>
              <%= image_tag book_comment.user.get_profile_image(60,60), class: "rounded-circle" %>
              <%= book_comment.user.name %>
            </td>
            <td><%= book_comment.comment %></td>
            <td>
              <% if book_comment.user == current_user %>
               <%= link_to "Destroy", book_book_comment_path(book_comment.book,book_comment),class:'btn btn-sm btn-danger', method: :delete %>
               <%= link_to book_comment.user.name,user_path(book_comment.user.id),class:'p-3' %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
  
        <%= form_with model: [@book,@book_comment] do |f| %>
          <%= f.text_area :comment, placeholder: 'コメントを入力', class: 'form-control' %>
          <%= f.submit "送信", class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>
</div>

<div>